In [32]:
import pandas as pd

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'

df = pd.read_csv(url,header=None)
df.head(6)

#check the bottom 10 rows of data frame "df"

df.tail(10)

headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

df.columns = headers
df1 = df.replace('?','NaN')
df2 = df1.dropna(subset=['price'],axis = 0)
df.columns

#location = 'C:\Users\t5759dv\Documents\Faltu'
#df2.to_csv(location)


# Basic Insight of Dataset

df2.dtypes
df2.describe(include = 'all')

df2[['length','compression-ratio']].describe()

df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 43.2+ KB

In [65]:
#Data Wrangling

import pandas as pd
import numpy as np

url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv'
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
df = pd.read_csv(url, names = headers)

df = df.replace('?',np.nan )
missing_data = df.isnull()

      
#miss = missing_data[missing_data[columns].values.any()]


#df.iloc[0,:]
miss = pd.DataFrame(missing_data.any())
miss_true = miss[miss[0]]
miss_index = miss_true.index.tolist()

'''
for i in missing_data.columns.tolist():
    if (i in miss_index):
        print(i)
        print(missing_data[i].value_counts())
        print()
'''

for i in df.columns.tolist():
    if ( i in miss_index and i not in ('num-of-doors','price')):
        df[i] = df[i].replace(np.nan,df[i].astype('float').mean())  
    elif( i == 'num-of-doors'):
        df[i] =df[i].replace(np.nan,'four' )
    elif( i == 'price'):
        df=df.dropna(subset=[i], axis = 0 )
    df = df.reset_index(drop = True)    

df['highway-L/100km'] = 235/df['highway-mpg']    
df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()
df['height'] = df['height']/df['height'].max()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,highway-L/100km
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,8.703704
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,8.703704
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,9.038462
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950,7.833333
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450,10.681818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845,8.392857
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045,9.400000
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485,10.217391
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,idi,3.01,3.40,23.0,106,4800,26,27,22470,8.703704
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625,9.400000

In [84]:
#Binning


import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

df['horsepower'] = df['horsepower'].astype(int)
plt.hist(df['horsepower'])
plt.xlabel('horsepower')
plt.ylabel('count')
plt.title('Histogram of horsepower')
plt.show()

bins = np.linspace(df['horsepower'].min(), df['horsepower'].max(), 4)
group_name = ['low','medium','high']
df['horsepower_binned'] = pd.cut(df['horsepower'], bins, labels = group_name,include_lowest = True)

plt.hist(df['horsepower_binned'])
plt.show()

plt.bar(group_name,df['horsepower_binned'].value_counts())
plt.show()

dummy = pd.get_dummies(df['aspiration'])
dummy = dummy.rename(columns = {'std' : 'aspiration_std','turbo':'aspiration_turbo' })

df = pd.concat([df,dummy],axis=1)
df = df.dropna(subset = ['aspiration'],axis = 1)
df

ValueError: Cannot convert non-finite values (NA or inf) to integer